@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

/* ==================== sidebar ==================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'kanit', sans-serif;
}

.sidebar {
    position: relative;
    position: fixed;
    background-color: #161A30;
    left: 0;
    top: 0;
    bottom: 0;
    width: 70px;
    overflow: hidden;
    transition: 0.5s ease;
    z-index: 1000;
}

.sidebar.open {
    width: 300px;
}

.nav-title {
    height: 70px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px #eeeeee54;
}

.logo {
    min-width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-title img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.nav-text {
    width: 150px;
    min-width: 150px;
    color: #00fff2;
}

.nav-toggle {
    position: absolute;
    right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #707070;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
}

.nav-toggle div {
    height: 5px;
    width: 100%;
    background: #fff;
    transition: 0.3s;
}

.nav-active div:nth-child(1) {
    transform: translate(0, 12.5px) rotate(45deg);
}

.nav-active div:nth-child(2) {
    opacity: 0;
}

.nav-active div:nth-child(3) {
    transform: translate(0, -12.5px) rotate(-45deg);
}

.nav-menu {
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-menu li {
    padding: 10px 0;
    transition: 0.2s;
    border-radius: 7px;
}

.nav-menu li:hover {
    background: rgba(76, 135, 158, 0.692);
}

.nav-menu li:hover a {
    color: #00fff2;
}

.nav-menu li:nth-child(1) {
    margin-top: 10px;
}

.nav-menu li a i {
    font-size: 28px;
    width: 70px;
    text-align: center;
}

.nav-menu li a {
    white-space: nowrap;
    color: #eeeeee;
    transition: 0.2s;
    font-size: 24px;
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    .container {
        padding-left: 0;
    }

    .sidebar {
        position: static;
        width: 100%;
        height: 70px;
        padding-bottom: 20px;
        transition: 0.5s;
    }

    .sidebar.open {
        bottom: unset;
        height: 450px;
        width: 100%;
    }

    .nav-title {
        border-bottom: none;
    }

    .nav-text {
        width: 100%;
        font-size: 20px;
    }

    .nav-menu {
        justify-content: start;
    }
}